
body.output #survey {
width: auto !important;
}

img.top_image,
img.bottom_image,
div.sheader a,
div.error,
p.snav,
div.completion,
h2.spagetitle {
display: none;
}

body.output #survey div.squestion { float: none; } /* fixes page break before problem */

div.spreview {
display: none;
}