
/*
@import url(http://fonts.googleapis.com/css?family=Actor);
@import url(http://fonts.googleapis.com/css?family=Allerta);
@import url(http://fonts.googleapis.com/css?family=Andika);
@import url(http://fonts.googleapis.com/css?family=Arimo);
@import url(http://fonts.googleapis.com/css?family=Armata);
@import url(http://fonts.googleapis.com/css?family=Asap);
@import url(http://fonts.googleapis.com/css?family=Basic);
@import url(http://fonts.googleapis.com/css?family=Cabin);
@import url(http://fonts.googleapis.com/css?family=Cantarell);
@import url(http://fonts.googleapis.com/css?family=Carme);
@import url(http://fonts.googleapis.com/css?family=Chivo);
@import url(http://fonts.googleapis.com/css?family=Droid+Sans);
@import url(http://fonts.googleapis.com/css?family=Exo);
@import url(http://fonts.googleapis.com/css?family=Istok+Web);
@import url(http://fonts.googleapis.com/css?family=Karla);
@import url(http://fonts.googleapis.com/css?family=Lato);
@import url(http://fonts.googleapis.com/css?family=Mako);
@import url(http://fonts.googleapis.com/css?family=Maven+Pro);
@import url(http://fonts.googleapis.com/css?family=Molengo);
@import url(http://fonts.googleapis.com/css?family=Muli);
@import url(http://fonts.googleapis.com/css?family=Nobile);
@import url(http://fonts.googleapis.com/css?family=Numans);
@import url(http://fonts.googleapis.com/css?family=Open+Sans);
@import url(http://fonts.googleapis.com/css?family=Pontano+Sans);
@import url(http://fonts.googleapis.com/css?family=PT+Sans);
@import url(http://fonts.googleapis.com/css?family=Puritan);
@import url(http://fonts.googleapis.com/css?family=Questrial);
@import url(http://fonts.googleapis.com/css?family=Rosario);
@import url(http://fonts.googleapis.com/css?family=Shanti);
@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro);
@import url(http://fonts.googleapis.com/css?family=Ubuntu);
@import url(http://fonts.googleapis.com/css?family=Varela);

@import url(http://fonts.googleapis.com/css?family=Adamina);
@import url(http://fonts.googleapis.com/css?family=Alegreya);
@import url(http://fonts.googleapis.com/css?family=Alice);
@import url(http://fonts.googleapis.com/css?family=Alike);
@import url(http://fonts.googleapis.com/css?family=Alike+Angular);
@import url(http://fonts.googleapis.com/css?family=Amaranth);
@import url(http://fonts.googleapis.com/css?family=Amethysta);
@import url(http://fonts.googleapis.com/css?family=Andada);
@import url(http://fonts.googleapis.com/css?family=Average);
@import url(http://fonts.googleapis.com/css?family=Belgrano);
@import url(http://fonts.googleapis.com/css?family=Bitter);
@import url(http://fonts.googleapis.com/css?family=Brawler);
@import url(http://fonts.googleapis.com/css?family=Cambo);
@import url(http://fonts.googleapis.com/css?family=Copse);
@import url(http://fonts.googleapis.com/css?family=Coustard);
@import url(http://fonts.googleapis.com/css?family=Cutive);
@import url(http://fonts.googleapis.com/css?family=Droid+Serif);
@import url(http://fonts.googleapis.com/css?family=Esteban);
@import url(http://fonts.googleapis.com/css?family=Fjord+One);
@import url(http://fonts.googleapis.com/css?family=Gentium+Basic);
@import url(http://fonts.googleapis.com/css?family=Gentium+Book+Basic);
@import url(http://fonts.googleapis.com/css?family=Habibi);
@import url(http://fonts.googleapis.com/css?family=IM+Fell+English);
@import url(http://fonts.googleapis.com/css?family=IM+Fell+Great+Primer);
@import url(http://fonts.googleapis.com/css?family=Inika);
@import url(http://fonts.googleapis.com/css?family=Ledger);
@import url(http://fonts.googleapis.com/css?family=Lora);
@import url(http://fonts.googleapis.com/css?family=Lusitana);
@import url(http://fonts.googleapis.com/css?family=Lustria);
@import url(http://fonts.googleapis.com/css?family=Marko One);
@import url(http://fonts.googleapis.com/css?family=Mate);
@import url(http://fonts.googleapis.com/css?family=Noticia+Text);
@import url(http://fonts.googleapis.com/css?family=Ovo);
@import url(http://fonts.googleapis.com/css?family=Poly);
@import url(http://fonts.googleapis.com/css?family=PT+Serif);
@import url(http://fonts.googleapis.com/css?family=Radley);
@import url(http://fonts.googleapis.com/css?family=Rosarivo);
@import url(http://fonts.googleapis.com/css?family=Sorts+Mill+Goudy);
@import url(http://fonts.googleapis.com/css?family=Tinos);
@import url(http://fonts.googleapis.com/css?family=Trocchi);
@import url(http://fonts.googleapis.com/css?family=Trykker);
@import url(http://fonts.googleapis.com/css?family=Volkhov);
@import url(http://fonts.googleapis.com/css?family=Vollkorn);
*/

/*
Sans - Droid Sans
Sans - Lato
Sans - Open Sans
Sans - PT Sans
Sans - Source Sans Pro
Slab - Arvo
Serif - Droid Serif
Serif - PT Serif
Serif - Lora
Serif - Vollkorn
*/

/* -----------------------
----- User defined ------
------------------------ */

/* Quando Layout Alignment = Center */
.output { text-align: center; }
.output #survey { margin: 0 auto; }


/* Quando Layout Alignment = Left nao se mostra as duas linhas acima*/
.output #survey {
width: 700px;			/* <<<<<<< body width, pode ser auto ou 100% */
margin-top: 40px;		/* <<<<<<< vertical margin (mesmo valor que em cima) fixes IE null bottom margin */
margin-bottom: 80px;    /* <<<<<<< vertical margin (mesmo valor que em cima) fixes IE null bottom margin */
}


.output #survey .sheader div.imgwrapper {
/*width: 650px;*/  /* layout width -50px ou -70px ? */
}

/* Background Color */
.output { background: #eee; } /* background-color Page */
#teditor { background: #eee; } /* background-color Page */
#survey .sheader { background: #326e7c; } /* background-color Header */
#survey .sbody, .squestioninput table th, .squestioninput table td { background: #fff; } /* background-color Body */
#survey .sbody tr td.surveycol { background: #1d2d4c; } /* background-color Body */


/* Font Color */
#survey .sheader h1 { color: #e1cda0; } /* Survey Title */
#survey .sheader p#exit a { color: #444; } /* Exit Survey Link */
#survey .sbody h2.spagetitle { /*color: #98975d;*/ color: #ab9c7b; } /* Page Title */
#survey .sbody div.squestion div.squestiontitle, div.squestiontitle h3, div.squestiontitle a { color: #444 !important; border: none; } /* Question Title */
#survey .sbody div.squestion div.squestioninput { color: #444; } /* Question Options */
#survey .sbody div.selement h3 { /*color: #98975d;*/ color: #ab9c7b; } /* Page Element Heading */
#survey .sbody div.selement p, #survey .sbody div.selement span { color: #444; } /* Page Element Text */
div.completion p, p.reset a { color: #444; } /* Survey Options */


/*
Sans - Droid Sans
Sans - Lato
Sans - Open Sans
Sans - PT Sans
Sans - Source Sans Pro
Slab - Arvo
Serif - Droid Serif
Serif - PT Serif
Serif - Lora
Serif - Vollkorn
*/


/* Font Family */
#survey .sheader h1 { font-family: 'Droid Serif', 'Helvetica Neue', Helvetica, Arial, sans-serif; }  /* Survey Header */
#survey .sbody h2.spagetitle { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }  /* Page Title */
#survey .sbody div.selement h3 { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; }  /* Page Element Heading*/
#survey .sbody div.squestion, #survey .sbody div.squestion h3, #survey .sbody div.selement p, #survey .error, #survey #sfooter, #survey .snav *, #survey .completion, #survey .inputtext, #survey .squestioninput textarea, #survey select { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif; } /* Everyhing else */

/*
#survey * { font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif !important; }
*/

/* Font Size */
/*
.output #survey .sheader h1 { font-size: 28px; line-height: 36px; }
.output #survey .sbody h2.spagetitle { font-size: 20px; line-height: 28px; }
.output #survey .sbody div.selement h3 { font-size: 20px; line-height: 28px; }
.output #survey .sbody div.squestion, .output #survey .sbody div.squestion h3, .output #survey .sbody div.selement p, .output #survey .error, .output #survey #sfooter, .output #survey .snav *, .output #survey .completion, .output #survey .squestioninput .inputtext, .output #survey .squestioninput textarea, .output #survey .squestioninput select { font-size: 14px; line-height: 24px; }
*/

#survey .sheader h1 { font-size: 24px; line-height: 30px; }
#survey .sbody h2.spagetitle { font-size: 18px; line-height: 26px; }
#survey .sbody div.selement h3 { font-size: 18px; line-height: 26px; }
#survey .sbody div.squestion, #survey .sbody div.squestion h3, #survey .sbody div.selement p, #survey .error, #survey #sfooter, #survey .snav *, #survey .completion, #survey .squestioninput .inputtext, #survey .squestioninput textarea, #survey .squestioninput select { font-size: 13px; line-height: 22px; }




div.squestioninput table th, div.squestioninput table td {
border-top: 1px solid #a5acb8;
border-bottom: 1px solid #a5acb8;
}
div.squestioninput table tr.top th {
border-top: none !important;
}



.clickarea {
position: absolute;
top: 5px;
right: 10px;
color: #fff;
background: #000;
padding: 2px 4px !important;
}

div.example div.squestion {
border: none !important;
}



/* theme preview background */

div.tpreview div.scontainer {
_height: 1px; /* ie only hack, tira o espaço entre painel e inquŽrito */
border-left-width: 20px; /* valor igual a 0 quando Body Width do theme = Full Width */
border-right-width: 20px; /* valor igual a 0 quando Body Width do theme = Full Width */
border-top-width: 20px; /* mesmo valor que vertical margin */
border-bottom-width: 20px; /* mesmo valor que vertical margin */
border-color: #c4d6ff; /* valor igual ao background-color Page */
border-style: solid;
}

/* image caption */
#survey div.squestiontitle div.imgdiv, #survey div.selement span.seimg {
color: #315c92;  /* Question Title */
font-family: Arial, Helvetica, sans-serif; /* Everyhing else */
font-size: 12px; /* Question Title */
}
#survey div.squestiontitle div.imgdiv span, #survey div.selement span.seimg {
font-size: 0.90em;
}


/* import */
div.importinner {
width: 700px; /* mesmo valor que body width, pode ser auto ou 100% */
}

/*
Possible font definitions:
Arial, Helvetica, sans-serif;
Verdana, Helvetica, sans-serif;
Times New Roman, Times, serif;
Georgia, Times, serif;
*/


.smpback {
background: #c4d6ff; /* background-color Page */
width: 190px;
margin: 0.5em 0;
}
.smpheader {
background: #73aad1; /* background-color Header */
color: #082866; /* Survey Title */
margin: 0 auto;
width: 150px;
height: 20px;
padding: 10px 5px;
text-align: center;
overflow: hidden;
}
.smpbody {
background: #1d2d4c; /* background-color Body */
margin: 0 auto;
width: 160px;
height: 100px;
}


.output_feedback {
background: #1d2d4c; /* Background Color Body */
text-align: center;
}
.output_feedback p {
margin-top: 0;
color: #315c92; /* Font Color - Question Title */
font-family: Arial, Helvetica, sans-serif;  /* Font Family - Everyhing else */
}



.output .sheader {
-webkit-border-radius: 4px 4px 0px 0px;
-moz-border-radius: 4px 4px 0px 0px;
border-radius: 4px 4px 0px 0px;
behavior: url(/_pie/PIE.htc);
}
.output .sbody {
-webkit-border-radius: 0px 0px 4px 4px;
-moz-border-radius: 0px 0px 4px 4px;
border-radius: 0px 0px 4px 4px;
behavior: url(/_pie/PIE.htc);
}
#shadow {
box-shadow: 0px 0px 10px 0px rgba(0,0,0,0.2);
behavior: url(/_pie/PIE.htc);
}


/* here because width override of body */

body.embed.output { padding: 0; }
body.embed #survey { width: 100%; margin: 0; }
body.embed #sfooter { margin-bottom: 0; padding-bottom: 30px; }
body.transparent .sheader { border-radius: 0; }
body.transparent .sbody { border-radius: 0; }
body.transparent #shadow { box-shadow: none; }
body.transparent { background-color: transparent !important; }
body.transparent .sbody { background-color: transparent !important; }
body.hide-header .sheader { display: none; }