/*==============REUSE=================*/
.margin-top-0{margin-top: 0;}
.margin-top-10{margin-top: 10px;}
.margin-btm-0{margin-bottom: 0;}
.margin-btm-5{margin-bottom: 5px;}
.margin-left-0{margin-left: 0;}
.margin-right-0{margin-right:0;}
.nomargin{margin:0;}
.nopadding{padding: 0!important;}
.h-padding-5-5{padding-left: 5px!important; padding-right: 5px!important;}
.-txt-{text-align: center;}
.-txt{text-align: right;}
.txt-{text-align: left;}
.div-{float: left!important;}
.-div{float: right!important;}
.-div-{float: none!important; margin-left: auto; margin-right: auto;}
 ul{list-style: none;}
.form-container{overflow: hidden;}
form{overflow: hidden;}
.tool-tip{position: absolute; font-size: 12px; left: 40px; top: -10px; text-align: center; border-radius: 2px; z-index: 100; display: none;}
.pop-up-overlay{position: fixed; z-index: 101; left: 0; top: 0; overflow: hidden; width: 100%; height: 0; transition: 500ms;}
.pop-up-head, .pop-up-body{position: relative; top: 10%; margin-left: auto; margin-right: auto; overflow: hidden;}
.pop-up-head{height:50px;}
.no-screen{display: none!important;}
/*==============REUSE=================*/
.header-left { margin-top: 0px;}
.header-right { margin: 0px auto; }
.logo { margin: 20px auto;}
.request-information textarea{width: 100%; border-color: #d5dbe0 !important;}
.ticker{   background: rgba(78, 39, 3, 0.24); color: #e5330b;
        font-size: 40px; }
.homeCourse{
    list-style-image: url('../images/gradutecap.png');
    line-height: 2;
}
.link-wrap{background: #fff;
padding-top: 15px;
padding-bottom: 30px;
padding-left: 20px;
padding-right: 20px;
    margin: 20px 15px 0px 15px;}
.borderbtm{ border-bottom:  1px solid #d2d2d2;}
.link-tbl{border: none;}
.link-tbl td{border-top :none!important;
    border-bottom: 1px dashed #cbcbcb;
padding-top: 20px!important;
padding-bottom: 8px!important;}
.link-tabl-wrap{padding: 0 40px 0px 40px;}
.grid-item { width: 380px; }
.grid-wrap{margin-left: 25px;}
.placement-banner li{margin-left: 10px; text-align: center;}
.small-links{padding-top: 50px;}
.blog-grid-item .blog-grid-title{
    font-size: 12px;
    font-weight: bold;
    color: #018cdd;
    text-align: center;
}
.blog-grid-item .desig{
    color: #646464!important;
    font-size: 10px!important;
    font-weight: 400!important;
}
.dep-wrap{
     margin: 40px 20px 0px 20px;
    overflow: hidden;
    clear: both;
}
.dep-seprator{
    font-weight: 800;
    border-bottom: 1px solid #d0d0d0;
}
#popUp{
    position: absolute;
    z-index: 1000;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    padding-left: 150px;
    padding-top: 50px;
    overflow: hidden;
    background: rgba(0, 0, 0, 0.58);
    display: none;}

@media screen and (max-width: 1090px) {
    #popUp{
        padding-left: 10px!important;
    }
    #popUp img{width: 100%;}
    #close-btn{margin-right: 10px!important;}
    .logo img{width: 100%;}
}
.page-feed .widget-inner{
    padding-top: 14px;
    padding-bottom: 0;
}
body{position: relative;}
#close-btn{
    text-align: right;
    margin-right: 200px;
    font-size: 25px;
    color: #fff;
}
.floatingPop{
     position: fixed;
    left: 40%;
    top: 25%
    z-index: 1000;
    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 8px;
    padding-left: 8px;
    border-radius: 10px;
}
.form-wrap{
    margin-left: 15px;
    margin-right: 15px;
    margin-top: 50px;
}
.form-wrap .input-group {margin-bottom: 10px;}