/*==============REUSE=================*/
.margin-top-0{margin-top: 0;}
.margin-top-10{margin-top: 10px;}
.margin-btm-0{margin-bottom: 0;}
.margin-btm-5{margin-bottom: 5px;}
.margin-left-0{margin-left: 0;}
.margin-right-0{margin-right:0;}
.nomargin{margin:0;}
.nopadding{padding: 0!important;}
.h-padding-5-5{padding-left: 5px!important; padding-right: 5px!important;}
.-txt-{text-align: center;}
.-txt{text-align: right;}
.txt-{text-align: left;}
.div-{float: left!important;}
.-div{float: right!important;}
.-div-{float: none!important; margin-left: auto; margin-right: auto;}
 ul{list-style: none;}
.form-container{overflow: hidden;}
form{overflow: hidden;}
.tool-tip{position: absolute; font-size: 12px; left: 40px; top: -10px; text-align: center; border-radius: 2px; z-index: 100; display: none;}
.pop-up-overlay{position: fixed; z-index: 101; left: 0; top: 0; overflow: hidden; width: 100%; height: 0; transition: 500ms;}
.pop-up-head, .pop-up-body{position: relative; top: 10%; margin-left: auto; margin-right: auto; overflow: hidden;}
.pop-up-head{height:50px;}
.no-screen{display: none!important;}
/*==============REUSE=================*/
.header-left { margin-top: 0px;}
.header-right { margin: 0px auto; }
.logo { margin: 20px auto;}
.request-information textarea{width: 100%; border-color: #d5dbe0 !important;}
.ticker{   background: #003a6a; color: #fff; }
.resize-info{clear: both; padding-left: 30px;}
